@import "~@openfonts/ubuntu_latin-ext/index.css";
@import '~modern-css-reset/dist/reset.css';
@import '~vue-router-tab/dist/lib/vue-router-tab.css';
@import '~@vueform/multiselect/themes/default.css';

$header-color: #2C5A81;

/* Primary button colors */
$button-primary-color: #2C5A81;
$buton-primary-hover: #142e44;

/* Secondary button colors */
$button-secondary-color: #56789e;
$button-secondary-hover: #142e44;

$disabled-color: #808080;
$hover-color: #ff3600;

html, body {
    height: 100%;
    font-family: Ubuntu;
    background: #ffffff;
    height: 100%;
    min-height: 100%;
    font-weight: 300;
    font-size: 0.95rem
}

input::placeholder{
    font-style: italic;
    color: #bbb;
}

div.disabled-hidden div.filter-wrapper.input select option:disabled{
    display: none;
}

nav.navbar {
    padding-top: 0.35rem;
}


nav {
    a {
        padding: 0.3rem 0.8rem;
        margin-right: 5px;
        border-radius: 4px;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        border: solid 1px transparent;
    }

    a:hover {
        border: solid 1px #fff;
        color: #fff;
        text-decoration: none;
    }

    a.router-link-exact-active, a.router-link-active {
        color: $header-color;
        font-weight: 500;
        background-color: #fff;
        text-decoration: none;
        border: solid 1px #fff;
    }
}

.user-area {
    padding-top: 0.25rem;

    a {
    }

    a:hover, a.router-link-exact-active, a.router-link-active {
        color: #fff;
        text-decoration: underline;
        border: solid 1px transparent;
        background-color: transparent;
    }
}

.btn-primary {
    background-color: $button-primary-color;
    border-color: $button-primary-color;

    &:hover {
        background-color: $buton-primary-hover;
        border-color: $buton-primary-hover;
    }

    &:disabled {
        background-color: $disabled-color;
        border-color: $disabled-color;
    }
}

.btn-secondary {
    background-color: $button-secondary-color;
    border-color: $button-secondary-color;

    &:hover {
        background-color: $button-secondary-hover;
        border-color: $button-secondary-hover;
    }

    &:disabled {
        background-color: $disabled-color;
        border-color: $disabled-color;
    }
}

.wrap {
    /*max-width: 1600px;*/
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}
a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
input::focus-visible { border: 0; outline: none;}
@media screen and (max-width: 1620px) {
    .wrap {
       /* margin: 0px 10px;*/
    }
}
h1 {
    font-weight: normal;
}

h5, .h5{
    font-size: 1.1rem;
}

#app {
    .router-tab__item.is-active, .router-tab__item:hover {
        color: #2a507d;
    }

    .router-tab__item-title {
        max-width: 300px;
    }

    .router-tab__header {
        border-color: #d1d1d1;
    }

    .router-tab__item {
        border-color: #d1d1d1;
    }

    .router-tab__item.is-active {
        border-bottom-color: #f8f8f8;
        background-color: #f8f8f8;
    }

    .router-tab{
        min-height:500px;
    }

    display: flex;
    flex-direction: column;
    min-height: 100%;

    #content {
        flex: 1;

        > .wrap {
            padding: 20px 0px;
        }
    }

    .header {
        background: $header-color;
        box-sizing: border-box;
        height: 60px;
        padding: 8px 0px;
        color: white;
        position: relative;

        h1 {
            font-weight: 500;
            padding: 0;

            a {
                text-decoration: none;
                color: white;
            }

            span {
                color: #99b7d9;
                font-weight: normal;
            }
        }

        .right {
            position: absolute;
            top: -26px;
            right: 0px;
            display: flex;
            padding: 6px;

            menu {

                li {
                    text-decoration: none;
                    list-style: none;
                    display: inline-block;
                    margin: 0px 10px;
                    height: 38px;
                    margin-top: 2px;

                    a {
                        color: white;
                        display: inline-block;
                        line-height: 34px;
                        text-decoration: none;
                        border: 2px solid #56789e;
                        border-radius: 3px;
                        padding: 0px 8px;

                        &.router-link-active {
                            border-color: white;
                        }
                    }
                }
            }

            .user-col {
                font-size: 14px;
                height: 80px;
                box-sizing: border-box;
                padding-top: 22px;
                line-height: 34px;
                padding-left: 20px;
                border-left: 1px solid #98acc4;

                .name {
                    color: white;
                    text-decoration: none;
                    margin-right: 20px;

                    span {
                        font-size: 12px;
                        color: #99b7d9;
                    }
                }
            }
        }
    }

    footer {
        background: $header-color;
        height: 28px;
        line-height: 28px;
        color: white;
        font-size: 12px;
        margin-top: 5px;
    }

    .loader-wrapper {
        height: 0px;
        position: relative;
    }

    .loader-wrapper .wrap {
        .loader {
            position: absolute;
            top: -20px;
            left: 0px;
        }
    }
}
.button, button {
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
    background: #2a507d;
    border: 0px solid;
    padding: 0px 15px;
    line-height: 32px;
    display: inline-block;


    &:hover {
        opacity: 0.8;
    }

    &.danger {
        background-color: #ff3600;
    }

    &.confirm {
        background-color: #11d600;
    }

    &.secondary {
        background-color: white;
        border: 2px solid #2a517d;
        color: #2a517d;
        font-weight: 500;
    }
    &.full-width{
        width: 100%;
    }

    &:disabled {
        background-color: gray;

        &:hover {
            opacity: 1;
        }
    }
}
.select-customer {
    min-width: 100px;
}
@import './toolbar.scss';

@import './form.scss';

@import "vue-select/src/scss/vue-select.scss";

.v-select {
    .vs__dropdown-toggle {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        /*display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        color: #212529;*/
        background-color: #fff;
        white-space: nowrap;
        padding: 0.25rem 0.75rem;

        .vs__selected-options {
            flex-wrap: nowrap;
            padding: 0;
        }

        .vs__selected {
            /*margin: 1px 0px;*/
            padding: 0px;
            color: black;
            margin: 0px;
        }

        .vs__search, .vs__search:focus {
            padding: 0px;
            margin: 0px;
        }

        .vs__actions {
            cursor: pointer;
        }
    }

    :disabled {
        background-color: #e9ecef;
    }
}

.v-select.vs--disabled {
    background: #e9ecef;

    .vs__dropdown-toggle {
        background-color: transparent;
    }

    .vs__selected {
        background: #e9ecef;
        color: #777;
    }

    .vs__dropdown-toggle .vs__selected {
        color: #777;
    }
}

.vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__clear, .vs--disabled .vs__search, .vs--disabled .vs__selected, .vs--disabled .vs__open-indicator {
    background-color: transparent;
}

button.vs__clear {
    line-height: normal;
}

fieldset {
    border: 1px solid #d1d1d1;
    outline: none;
    margin-bottom: 20px;
}

/*.tabs {
    margin-top: 20px;
    margin-bottom: 20px;
    > .tab-content {
        border: 1px solid #d1d1d1;
        border-top: 0px;
        padding: 10px;
    }
    > nav {
        border-bottom: 1px solid #d1d1d1;
        display: flex;
        span, a {
            display: block;
            margin-bottom: -1px;
            
            border: 1px solid white;
            border-bottom: 1px solid #d1d1d1;
            padding: 10px;
            cursor:pointer;
            &.active {
                border: 1px solid #d1d1d1;
                border-bottom: 1px solid white;
            }
        }
    }
}*/

.datepicker-filter-input {
    width: 100%;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    line-height: 26px;
}
.mx-icon-calendar {
    display: none;
}

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.h-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tooltip {
    background-color: white;
    /*box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);*/
    padding: 4px;
    border-radius: 2px;
    opacity: 1;
    background-color: transparent;
}

.tooltip .tooltip-arrow::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000;
    top: 28px;
}

.reports-table {
    width: 100%;
    border-spacing: 10px 5px;

    td:nth-child(even) {
        width: 35%;
        color: grey;
        font-style: italic;
    }

    td:nth-child(odd) {
        width: 17%;
    }
}

.card {
    h5{
        padding: 0;
        margin: 0;
    }

}

/*.small-font {
    font-size: 0.9rem;
}*/

.no-right-padding{
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

div.form-control.disabled {
    background-color: #e9ecef;
}

.mx-datepicker {
    width: 100%;
}

.mx-input {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    color: #000;
}

.long-label{
    line-height: 15px;
}

button.nav-link{
    color: #000;
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width: 767px){
    .text-end{
        text-align: left !important;
    }
}

table th{
    font-weight: 500;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    font-weight: 500;
    border-top-color: #aaa;
    border-right-color: #aaa;
    border-bottom-color: #fff;
    border-left-color: #aaa;
}

.nav-tabs{
    border-bottom: 1px solid #aaa;
}

.nav-tabs .nav-link {
    margin-bottom: -3px;
}

.action-icon i {
    font-size: 24px;
    color: #4475ac;
    cursor: pointer;
}

.main-action-icons i {
    font-size: 46px;
    color: $button-primary-color;
}

.main-action-icons-small i {
    font-size: 34px;
    color: $button-primary-color;
}

.modal-container {
    padding: 0 !important;
}

.modal-header {
    font-size: 1.3rem !important;
}

strong{
    font-weight: 600;
}

.modal-text-area-125{
    height: 125px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollable, .scrollable-45,
.scrollable-20, .scrollable-30,
.scrollable-25 {
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollable {
    max-height: 60vh;
}

.scrollable-45 {
    max-height: 45vh;
}

.scrollable-20{
    max-height: 20vh;
}

.scrollable-25 {
    max-height: 25vh;
}

.scrollable-30 {
    max-height: 30vh;
    min-height: 30vh;
}

.fixed-width-250 {
    width: 250px;
}

.fixed-width-150 {
    width: 150px;
}

div.form-control.disabled,
.form-control:disabled,
.form-select:disabled {
    color: #777;
}



.modal-footer{
    margin: 0;
}

.display-6 {
    font-size: 2.0rem;
}

.loading-status-indicator {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 4px;
}

.pallet-ilog-status-indicator {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 4px;
}

.vue-notification {
    // styling
    margin: 0 5px 5px;
    padding: 10px;
    font-size: 12px;
    color: #ffffff;
    // default (blue)
    background: #44A4FC;
    border-left: 5px solid #187FE7;
    // types (green, amber, red)
    .notification-title {
        font-size: 16px;
    }
    // style for content
    
    .notification-content {
        font-size: 14px;
    }

    &.success {
        background: #68CD86;
        border-left-color: #42A85F;
    }

    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }

    &.error {
        background: #E54D42;
        border-left-color: #B82E24;
    }
}

table.selectable tr {
    cursor: pointer;
}

table.table-hover tbody tr.selected td {
    background-color: #4b8ede78 !important;
}

th.no-border {
    border: none;
}

i {
    vertical-align: middle;
    font-size: 1.15rem;
}

.transparent{
    background-color: transparent !important;
}

:root {
    --ms-max-height: 20rem;
    --ms-font-size: 0.9rem;
    --ms-border-color: none;
    --ms-border-width: none;
    --ms-radius: 0px;
    --ms-option-font-size: 0.9rem;
    --ms-option-line-height: normal;
}

.multiselect {
    // min-height: 20px !important;
    padding: 3px 5px 0px 0px !important;
}
.multiselect-multiple-label, .multiselect-placeholder, .multiselect-single-label {
    padding-left: 0;
    padding-right: 0;
}
.multiselect.form-control-sm {
    min-height: calc(1.5em + (0.5rem + 2px)) !important;
    .multiselect-single-label, .multiselect-placeholder {
        padding: 0.25rem 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }   
}
.multiselect.is-active {
    box-shadow: none !important;
}
.multiselect-dropdown {
    width: 100%;
    left: 0px;
}

.multiselect__single{
    font-size: 0.9rem !important;
    margin-bottom: 4px !important;
    padding-left: 0 !important;
}

.multiselect-caret {
    margin-right: 2px;
}

.multiselect__select::before {
    right: 0;
    top: 65%;
    margin-top: 30px !important;
}

.multiselect--active .multiselect__select {
    top: 1px !important;
    margin-bottom: 0px !important;
}

.multiselect__option,
.multiselect__option::after {
    height: 28px !important;
    min-height: 28px !important;
    line-height: normal !important;
    font-size: 0.9rem !important;
}


.multiselect__option {
    padding: 6px 0 0 5px !important;
}

.multiselect__option::after {
    padding: 6px 10px 0 0 !important;
    margin: 0 !important;
}

.multiselect__input{
    font-size: 0.9rem !important;
    padding-left: 0 !important;
}

.multiselect__input, .multiselect__single{
    margin-bottom: 0px !important;
}

.multiselect__current, .multiselect__select{
    line-height: normal !important
}

.multiselect__placeholder{
    margin-bottom: 0px !important;
    padding: 0 0 2px 0px !important;
}

.multiselect__content-wrapper {
    left: -5px !important;
}

.multiselect-as-select {
    .multiselect {
        border: solid #ccc 1px;
        border-radius: 3px !important;
        width: 99.5% !important;
    }

    .multiselect__content-wrapper {
        left: 0px !important;
        border: 1px solid #ccc !important;
    }

    .multiselect__tags {
        padding: 4px 25px 0px 5px !important;
        min-height: 27px !important;
        font-size: 0.9rem !important;
        border: solid #ccc 1px;
        border-radius: 3px !important;
    }

    .multiselect__single {
        font-size: 0.9rem !important;
        margin-bottom: 4px !important;
        padding-left: 0 !important;
    }

    .multiselect__select {
        width: 25px !important;
        height: 20px !important;
        right: 1px;
        top: 7px !important;
        padding: 10px 5px !important;
    }

    .multiselect__select::before {
        right: 0;
        top: 65%;
        margin-top: 30px !important;
    }

    .multiselect--active .multiselect__select {
        top: 1px !important;
        margin-bottom: 0px !important;
    }

    .multiselect__option,
    .multiselect__option::after {
        height: 28px !important;
        min-height: 28px !important;
        line-height: normal !important;
        font-size: 0.9rem !important;
    }

    .multiselect__option {
        padding: 6px 0 0 5px !important;
    }

    .multiselect__option::after {
        padding: 6px 10px 0 0 !important;
        margin: 0 !important;
    }

    .multiselect__input {
        font-size: 0.9rem !important;
        padding-left: 0 !important;
    }

    .multiselect__input, .multiselect__single {
        margin-bottom: 0px !important;
    }

    .multiselect__current, .multiselect__select {
        line-height: normal !important
    }

    .multiselect__placeholder {
        margin-bottom: 0px !important;
        padding: 0 0 2px 0px !important;
    }
}

.v-table .v-table-row {
    font-size: 0.95rem !important;
}

/*.v-table .v-table-row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}*/

.v-table .v-table-row .table-columns {
    padding: 0 !important;
}

.v-table .v-table-row{
    border-bottom: solid 1px #e5e5e5;
    border-top: 0 !important;
    margin-top: 0 !important;
}

.v-table .v-table-header {
    padding: 0 !important;
}

.v-table .v-table-header{
    padding-left:6px !important;
}

.v-table-header.table-header-search{
    border-bottom: 1px solid #999;
}

.v-table .v-table-header .filter,
.datepicker-filter-input {
    border-bottom: none !important;
}

.tab-content.white{
    background-color: #fff;
}

.part-master, .stock-transfer, .outbound, .inbound, .loading, .storage-detail-group {
    .table-actions {
        padding: 0 3px 3px 0 !important;
    }

    .table-columns {
        min-height: 35px !important;
    }

    .table-actions.overlap {
        backdrop-filter: none !important;
    }
}
.pointer{
    cursor: pointer;
}

.user-management-status {
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.is-leaf{
    cursor: default;
}

.is-folder{
    cursor: pointer;
}

.is-folder::before,
.is-folder.folder-expanded::before {
    margin-left: -17px;
    
    color: #666;
}

.is-folder::before {
    margin-right: 5px;
    content: '\25B6';
}

.is-folder.folder-expanded::before {
    margin-right: 3px;
    content: '\25BC';
}

ul.sub-folders {
    list-style-type: none;
}

ul.recursive-wrapper{
    list-style-type: none;
    margin: 0;
    padding-left: 16px;
}
.no-selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.btn-extra-width{
    width: 100px;
}

.input-alert{
    border: 2px solid #cd0000;
    color: #cd0000 !important;
    font-weight: bold;
}

.vc-container {
    width: 40vw !important;
}

.wait-window {
    opacity: 0.25;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}
.wait-window .loader {
    position: fixed;
    top: 40%;
    left: 45%;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff;

    th:after,
    th:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
    }

    th:before {
        top: -1px;
        border-top: 1px solid #444;
    }

    th:after {
        bottom: -1px;
        border-bottom: 2px solid #444;
    }
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.table-sm > :not(caption) > * > * {
    padding: 0.10rem 0.25rem;
}

.search-row .form-control{
    padding: 1px 3px !important;
}

.search-row input::placeholder{
    font-style: italic;
    color: #ccc;
    font-weight: 100;
    font-size: 13px;
}

.bg-dark {
    background-color: #2C5A81 !important;
}

nav h2 a.router-link-exact-active, nav h2 a.router-link-active {
    text-decoration: none;
    color: white;
    background-color: transparent;
    border-color: transparent;
    padding-left: 0px;
}

nav .top-link-no-bg a.router-link-exact-active, nav .top-link-no-bg a.router-link-active {
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border-color: transparent;
    padding-left: 0px;
}

.nav-buttons {
    padding-top: 10px;
}

.right-top-menu{
    float: right;
}

nav a{
    padding-left: 6px;
    padding-right: 6px;
}

.nav-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.modal-check-ekanban .v-table .v-table-header .v-col {
    font-size: 13px;
    text-align: center;
}

.tab-filter-input{
    padding: 3px;
    height: 22px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 85%;
}

.tab-filter-input::placeholder{
    color: #ddd;
    font-style: oblique;
}

.btn-xs{
    padding: 0px;
    height: 22px;
    line-height: 18px;
}

.no-line-break{
    white-space: nowrap; 
}

button.in-group{
    border-radius: 0 4px 4px 0;
}

input.in-group {
    border-radius: 4px 0 0 4px;
}

/* v-select adjustments */
.vs__actions{
    padding: 0;
}

.vs__clear {
    padding-bottom: 3px;
}

.clearfix{
    clear: both;
}

.v-select .vs__dropdown-toggle{
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Paging */
.paging-items{
    float: left;
    .p-button, .p-numbers, .p-input, .p-select{
        float: left;
    }

    .p-button{
        width: 40px;
    }

    /*.p-numbers{
        max-width: 200px;
    }*/

    .p-input, .p-select{
        width: 80px;
    }
    .p-numbers{
        padding-top: 1px;
        .p-number{
            font-size: 18px;
            font-weight: bold;
            padding: 4px 6px 5px 6px;
            cursor: pointer;
        }
        .p-number:hover{
            background-color: $hover-color;
            color: #fff;
            border-radius: 3px;
        }
        .p-number.current{
            background-color: $button-primary-color;
            color: #fff;
            border-radius: 3px;
        }
    }
    .flip-text{
        -moz-transform:    scaleX(-1); /* Gecko */
        -o-transform:      scaleX(-1); /* Opera */
        -webkit-transform: scaleX(-1); /* Webkit */
        transform:         scaleX(-1); /* Standard */
      
        filter: FlipH;                 /* IE 6/7/8 */
    }
}

.table-row{
    position: relative;
}

table .table-buttons{
    position: absolute;
    left: auto;
    right: 0px;
    padding: 4px;
    display: none;
    background: transparent;
    box-shadow: none;
}

.table-row:hover .table-buttons{
    display: block;
}

/* filters */
.filtered-table{
    th{
        input, select{
            font-size: 13px;
        }
    }
    tr:first-child th{
        padding: 2px 0.45rem;
    }
    tr:last-child th{
        padding: 3px 0.45rem;
    }
}

table.table.table-hover.clickable.filtered-sorted-table{
    tbody tr:hover{
        background-color: #2C5A81;
        cursor: pointer;
        color: #fff;
    }
}

.form-control-tab-filter,
.form-control-tab-filter-fromto{
    height: 20px;
    padding: 0px 4px;
    border: 1px solid #ccc;
    color: #777;
    font-weight: 400;
    font-size: 0.85rem;
}

.form-control-tab-filter-fromto{
    vertical-align: top;
}

.form-control-tab-filter{
    border-radius: 4px 0 0 4px;
    max-width: 110px;
    padding: 0px 4px 0px 4px;
    vertical-align: top;
}

.form-control-tab-filter.disabled{
    color: #bbb;
    font-style: italic;
}

.form-control-tab-filter.disabled option{
    color: #000;
    font-style: normal;
}

.form-control-tab-filter-fromto.range{
    max-width: 40px;
}

.form-control-tab-filter-fromto.date{
    max-width: 60px;
}

.form-control-tab-filter-fromto.from{
    border-radius: 4px 0 0 4px;
    max-width: 50px;
}
.form-control-tab-filter-fromto.to{
    border-left: none;
    border-radius: 0 0;
    max-width: 50px;
}

.filter-box{
    height: 20px;
    position: relative;
}

.filter-wrapper-date,
.filter-wrapper,
.filter-wrapper-range{
    display:inline-block;
}

.filter-wrapper{
    vertical-align: top;
}

.filter-wrapper-range{
    vertical-align: middle;
}

/*.filter-wrapper-date.input{
    vertical-align: -7px;
}*/

.filter-wrapper-date.input,
.filter-wrapper.input,
.filter-wrapper-range.input{
    height: 20px;
}

.filter-wrapper-date.clear {
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 21px;
    height: 20px;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.filter-wrapper.clear,
.filter-wrapper-range.clear {
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 21px;
    height: 20px;
    background-color: #eee;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

th.string {
    min-width: 150px;
}

th.range{
    min-width: 120px;
}

th.date{
    min-width: 240px;
}

th.dropdown{
    min-width: 130px;
    select {
        //width: 90px;
    }
}

table.filtered-sorted-table th,
table.filtered-sorted-table td{
    white-space: nowrap;
}

th.date{
    .mx-datepicker{
        width: 65px;
        float: left;
        input{
            height: 20px;
            padding: 0 4px 0 4px;
            font-size: 13px;
        }
    }
    .mx-datepicker:nth-of-type(odd){
        input{
            border-radius: 4px 0 0 4px;
        }
    }
    .mx-datepicker:nth-of-type(even){
        input{
            border-radius: 0;
            border-left: none;
        }
    }
}

/* sorting */
.sort-header:hover{
    cursor: pointer;
    color: $hover-color;
}

/* loading bars */
.bars1-wrapper{
    text-align: center;
}

.bars1-wrapper h5{
    margin: 20px auto 0 auto;
}

#bars1 {
    display: block;
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto;
  }
  
  #bars1 span {
    position: absolute;
    display: block;
    bottom: 10px;
    width: 9px;
    height: 5px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-animation: bars1 1.5s  infinite ease-in-out; animation: bars1 1.5s  infinite ease-in-out;
  }
  
  #bars1 span:nth-child(2) {
    left: 11px;
    -webkit-animation-delay: 0.2s; animation-delay: 0.2s;
  }
  
  #bars1 span:nth-child(3) {
    left: 22px;
    -webkit-animation-delay: 0.4s; animation-delay: 0.4s;
  }
  
  #bars1 span:nth-child(4) {
    left: 33px;
    -webkit-animation-delay: 0.6s; animation-delay: 0.6s;
  }
  
  #bars1 span:nth-child(5) {
    left: 44px;
    -webkit-animation-delay: 0.8s; animation-delay: 0.8s;
  }
  
  @keyframes bars1 {
    0% {
      height: 5px;
      -webkit-transform: translateY(0px); transform: translateY(0px);
      -webkit-transform: translateY(0px); transform: translateY(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    25% {
      height: 30px;
      -webkit-transform: translateY(15px); transform: translateY(15px);
      -webkit-transform: translateY(15px); transform: translateY(15px);
      background: #000000;
    }
    50% {
      height: 5px;
      -webkit-transform: translateY(0px); transform: translateY(0px);
      -webkit-transform: translateY(0px); transform: translateY(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    100% {
      height: 5px;
      -webkit-transform: translateY(0px); transform: translateY(0px);
      -webkit-transform: translateY(0px); transform: translateY(0px);
      background: rgba(0, 0, 0, 0.25);
    }
  }
  @-webkit-keyframes bars1 {
    0% {
      height: 5px;
      -webkit-transform: translateY(0px); transform: translateY(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    25% {
      height: 30px;
      -webkit-transform: translateY(15px); transform: translateY(15px);
      background: #000000;
    }
    50% {
      height: 5px;
      -webkit-transform: translateY(0px); transform: translateY(0px);
      background: rgba(0, 0, 0, 0.25);
    }
    100% {
      height: 5px;
      -webkit-transform: translateY(0px); transform: translateY(0px);
      background: rgba(0, 0, 0, 0.25);
    }
  }

  /* Modal */
  .fade-enter-active{
    animation: fadeIn 0.5s ease-out;
  }

  .fade-leave-active{
    animation: fadeIn 0.5s ease-in-out;
    animation-direction: reverse;
  }

  .mask{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
  }

  .mask.mask-in {
    -webkit-animation: fadeIn 0.3s ease-in-out; -moz-animation: fadeIn 0.3s ease-in-out; -o-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  }

  .mask.mask-out{
    -webkit-animation: fadeIn 0.3s ease-in-out; -moz-animation: fadeIn 0.3s ease-in-out; -o-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
    animation-direction: reverse;
  }

@-webkit-keyframes fadeIn { 0% {  display: none; opacity: 0; } 1% {  display: block; opacity: 0; } 100% { display: block; opacity: 1; } }
@-moz-keyframes fadeIn { 0% { display: none; opacity: 0; } 1% { display: block; opacity: 0; } 100% { display: block; opacity: 1; } }
@-o-keyframes fadeIn { 0% { display: none; opacity: 0; } 1% { display: block; opacity: 0; } 100% { display: block; opacity: 1; } }
@keyframes fadeIn { 0% { display: none; opacity: 0; } 1% { display: block; opacity: 0; } 100% {  display: block; opacity: 1;} }

.modal-popup{
    max-height: 90%;
}

.modal-popup-in{
    -webkit-animation: bounceIn 0.3s ease-in-out; -moz-animation: bounceIn 0.3s  ease-in-out; -o-animation: bounceIn 0.3s  ease-in-out;
    animation: bounceIn 0.3s  ease-in-out;
}

@-webkit-keyframes bounceIn { 0% { transform: translateY(-300px) scaleY(20%); } 100% { transform: translateY(0) scaleY(100%); } }
@-moz-keyframes bounceIn { 0% { transform: translateY(-300px) scaleY(20%); } 100% { transform: translateY(0) scaleY(100%); } }
@-o-keyframes bounceIn { 0% { transform: translateY(-300px) scaleY(20%); } 100% { transform: translateY(0) scaleY(100%); } }
@keyframes bounceIn { 0% { transform: translateY(-300px) scaleY(20%); } 100% { transform: translateY(0) scaleY(100%); } }

.modal-popup-close{
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #ccc;
    background-size: 13px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #aaa;
}

textarea.two-liner{
    height: 66px;
}

.pdf-viewer{
    width: 100%;
    height: calc(100vh - 200px);
}

.mx-datepicker.bootstrap{
    width: 100% !important;
}
.error-close-x{
    color: #860000;
    font-size: 24px;
}

/* Horizontal scroll */
/*.table-container * {
    overflow-x: scroll;
    overflow-y: auto;
    transform: rotateX(180deg);
}
  
.table-container table {
    transform: rotateX(180deg);
}*/
  
.table-Hscroll {
    width: 100%;
    display: block;
    overflow-x: scroll;
    cursor: e-resize;
}

.hide-scroll::-webkit-scrollbar{
    display: none;
}

.hide-scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*.table-responsive  {
    transform: rotateX(180deg);
}*/

/*.table-responsive thead,
.table-responsive table * {
    transform: rotateX(180deg);
}*/

/*#bar{
    height: 24px;
    width: 20px;
    border-radius: 3px;
    background-color: #ccc;
}*/

/* Chrome, Safari, Edge, Opera */
input:not(.print-copies)::-webkit-outer-spin-button,
input:not(.print-copies)::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number]:not(.print-copies) {
    -moz-appearance: textfield;
}

.invoicing .card-body{
    padding: 5px;
}

table.dd-table {
    margin-left: 0px;
    border: 0;
}

table.asn-table {
    margin-left: 30px;
    width: 94% !important;
}

.invoicing .table > :not(caption) > * > * {
    padding: 5px;
}

.success{
    color: forestgreen;
}
.picking-list-col0{
    width: 3%;
}
.picking-list-col1 {
    width: 22%;
}
.picking-list-col2 {
    width: 5%;
}
.picking-list-col3 {
    width: 20%;
}
.picking-list-col4 {
    width: 10%;
}
.picking-list-col5 {
    width: 20%;
}
.picking-list-col6 {
    width: 20%;
}
.div-table{
    cursor: pointer;
}
.div-table:nth-child(2n+1){
    background: #eee;
}
.div-table:hover{
    background-color: #ccc;
}
.div-table div {
    padding: 2px 5px 0 5px;
}
.div-table-filters div{
    padding: 2px 5px;
}
.div-table-header div {
    padding: 0px 5px;
    cursor: pointer;
}
.div-table-filters div input{
    height: 25px;
}

.div-table.selected {
    background-color: #4b8ede78 !important;
}

.container .spinner {
    margin: 20px auto 5px auto;
    border-radius: 0;
}

.relative{
    position: relative;
}

.div-table-header-wrapper {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.indicator{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ilog-enabled{
    border: 1px solid #014800;
    background-color: #1eb600;
}

.ilog-disabled {
    border: 1px solid #666;
    background-color: #ccc;
}

.ilog-enabled-txt {
    color: #1eb600;
}

.ilog-disabled-txt {
    color: #ccc;
}

select.multiselect-like {
    padding: 4px 10px;
    border: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

select.multiselect-like option {
    padding: 5px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-padding: 5px 0;
    -moz-padding: 5px 0;
    -ms-padding: 5px 0;
    -o-padding: 5px 0;
}

select.multiselect-like option:hover{
    background-color: forestgreen !important;
}

.w-11 {
    width: 11%;
}

.w-12{
    width: 12%;
}

.w-13{
    width: 13%;
}

.part-master-dimensions input {
    padding-left: 1px !important;
    padding-right: 3px !important;
    text-align: right;
}

.input-group-text{
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.part-master-dimensions-intext{
    height: 10px;
    line-height: 10px;
    margin-bottom: 1px;
}

.blue-text{
    color: steelblue;
}

h5.weight-normal{
    font-weight: 300;
}

.form-control-tt-datepicker {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.tt-date-picker {
    width: calc(100% - 25px) !important;
    float: left;
}

.tt-datepicker-wrapper{
    text-align: left;
}

.chrome-date {
    width: 18px;
    color: #fff;
    border: none;
    padding-top: 5px;
    background: transparent;
}

.table-header-search .form-control-tt-datepicker {
    border: 0;
    padding: 0;
    outline: none !important;
    -webkit-appearance: none;
}

.table-header-search .chrome-date {
    padding-top: 0px;
}

.table-header-search .tt-date-picker {
    width: 75px !important;
    float: left;
}

.table-header-search .tt-datepicker-wrapper {
    width: 100px;
    float: left;
}

.filter-box .form-control-tt-datepicker {
    width: calc(100% - 25px) !important;
    padding: 0 4px !important;
    height: 20px;
    min-height: 20px;
    font-size: 0.80rem;
    color: #666;
    font-weight: 300;
}

.filter-box .tt-datepicker-wrapper {
    float: left;
    width: 100px;
    height: 20px;
}

.filter-box .chrome-date{
    padding: 0;
}

.p-tree-node-icon.deactivated{
    color: #ccc !important;
}

.p-tree-node-content.p-tree-node-selected,
.p-tree-node-content.p-tree-node-selected .p-tree-node-icon {
    background-color: #b9cfe1 !important;
    color: #444 !important;
}

.tabs .nav-item{
    padding-bottom: 2px;
}

.tabs .nav-item .nav-link{
    color: #444;
}

.tabs .nav-item .nav-link.active {
    background-color: #f8f8f8;
}

.big-glyphs{
    font-size: 23px;
}

.button-i{
    padding: 3px 3px 1px 3px !important;
}

.p-tabview-tablist-item.p-tabview-tablist-item-active {
    background-color: #e9ecef !important;
    border-radius: 7px 4px 0 0;
}

.p-tabview-ink-bar {
    background-color: #498fca !important;
}

button.nav-link.stl-warning-tab.active {
    background-color: #ffe7ae;
    border-bottom-color: #ffe7ae;
}

.stl-warning-tab table th {
    background-color: #ffe7ae;
    color: #ff8d00;
}

.stl-warning-tab .extra-header-info {
    background-color: #ffe7ae;
    color: #ff0000;
    font-weight: bold;
}

.stl-warning-tab .button-div {
    background-color: #ffe7ae;
}

button.nav-link.stl-danger-tab.active {
    background-color: #ffc1c1;
    border-bottom-color: #ffc1c1;
}

.stl-danger-tab table th {
    background-color: #ffc1c1;
    color: #cd0000;
}

.stl-danger-tab .extra-header-info {
    background-color: #ffc1c1;
    color: #ff0000;
    font-weight: bold;
}

.stl-danger-tab .button-div {
    background-color: #ffc1c1;
}

.modal-container{
    padding: 20px !important;
}