.v-table {
    padding: 10px 0px;
    /*min-height: 500px;*/

    .v-table-header, .v-table-row {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .checkbox-col {
        width: 30px;
        min-height: 2px;
        text-align: left !important;
        padding: 0px !important;
    }

    .v-table-row > .table-columns, .v-table-header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        > .v-col {
            box-sizing: border-box;
            flex-shrink: 0;

            &:last-child {
                flex-shrink: 1;
                flex-grow: 1;
            }
        }

        > .space {
            display: block;
            align-self: stretch;
            min-height: 20px;
            width: 1px;
            border-left: 1px solid #ffffff;
        }
    }

    .v-table-header {
        padding: 5px 0;
        background: white;
        position: sticky;
        top: 0px;
        left: 0px;

        .v-col {
            font-size: 15px;
            text-align: left;
            font-weight: 400;
            cursor: pointer;
        }

        > .sorted {
            font-weight: bold;
        }

        .filter {
            width: 100%;
            box-sizing: border-box;
            display: block;
            border: 0px solid;
            line-height: 26px;
            border-bottom: 1px solid #d1d1d1;
        }

        .v-select .vs__dropdown-toggle {
            border: 0px solid;
            border-bottom: 1px solid #d1d1d1;
            padding: 0px;
        }

        &.table-header-search {
            padding: 0px 0;
            z-index: 20;
        }
    }

    .v-table-row {
        border: 1px solid #e5e5e5;
        margin-top: 5px;
        font-size: 16px;
        color: #191919;
        position: relative;
        cursor: pointer;

        .table-columns {
            padding: 10px 0;

            .v-col {
                padding: 0px 5px;
                overflow: hidden;
            }

            > .space {
                display: block;
                align-self: stretch;
                min-height: 20px;
                width: 1px;
                border-left: 1px solid #d1d1d1;
            }
        }

        &:nth-child(odd) {
            background: #fcf7f7;
        }

        &:hover {
            background: #ddd;
        }


        .table-actions {
            text-align: right;
            z-index: 10;
            padding: 10px;
            border-top: 1px solid #e5e5e5;

            &.overlap {
                display: none;
                position: absolute;
                bottom: 0;
                right: 0;
                border: none;
                backdrop-filter: blur(2px);
                border-radius: 10px 0 0 0;
                padding: 2px;
                .button {
                    line-height: 22px;
                }
            }

            ul {
                padding-left: 0px;
                list-style: none;
                color: #2a517d;
                padding: 0px;
                margin: 0px;

                li {
                    display: inline-block;
                    margin-left: 10px;
                }

                a {
                    color: #2a517d;
                    text-decoration: none;

                    &:hover {
                        color: #ff3600;
                    }
                }
            }
        }

        &:hover > .overlap {
            display: block;
        }
    }

    .pagination {
        border-top: 1px solid #d1d1d1;
        padding-top: 10px;
        display: flex;
        margin-top: 5px;

        p {
            flex: 1;
            text-align: center;
        }

        .prev, .next {
            cursor: pointer;
        }
    }
}

.simple-table {
    width: 100%;
    border-collapse: collapse;

    & > thead > tr {
        top: 0px;
        left: 0px;
        background: white;
    }

    & > thead > tr > th, & > tbody > tr > td {
        padding: 4px;
        text-align: left;

        &.num {
            text-align: right;
        }

        .button, button {
            margin-right: 10px;
            line-height: 20px;
        }
    }

    & > tbody > tr {
        border-bottom: 1px solid #d1d1d1;
        border-top: 1px solid #d1d1d1;
    }

    & > tbody {
        & > tr {
            border-top: 1px solid #d1d1d1;
            padding: 5px;

            &:nth-child(odd) {
                background: #fcf7f7;
            }

            &:hover {
                background: #ddd;
            }
        }
    }

    &.no-hover > tbody > tr:hover {
        background: transparent;

        &:nth-child(odd) {
            background: #fcf7f7;
        }
    }
}